* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Poppins, sans-serif;
    color: #333333;
}

.main {
    margin: 10px 180px;
}

/* ------Card Stays------ */

.container-grid-stays {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    position: relative;
}

.title-cant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.title-cant .title {
    font-size: 1.4rem;
    font-weight: 800;
}

.credit {
    margin: 60px auto 20px auto;
    text-align: center;
    font-size: 14px;
    color: #828282;
}

/* --------Media Queries-------- */

@media (max-width:1345px) {
    .container-grid-stays {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .search-btn .btnsearch {
        width: 100%;
    }
}